@{
    ViewBag.Title = "Change Password Successful";
}

<div class="container">
    <div class="page-header">
        <h1>Change your password</h1>
    </div>
    <p class="lead">
        You have successfully changed your password. <br />
        Use the main menu to continue.<br/>    
    </p>
</div>