USE [ProjectCure]
GO
/****** Object:  Table [dbo].[Templates]    Script Date: 03/07/2014 12:59:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Templates](
	[TemplateId] [int] NOT NULL,
	[TemplateName] [varchar](50) NOT NULL,
	[TemplateText] [varchar](max) NOT NULL,
	[TemplateSubject] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Templates] PRIMARY KEY CLUSTERED 
(
	[TemplateId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 03/07/2014 12:59:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](256) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03/07/2014 12:59:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserEmail] [varchar](256) NOT NULL,
	[UserFirstName] [varchar](50) NULL,
	[UserLastName] [varchar](50) NULL,
	[UserRoleId] [int] NOT NULL,
	[UserActiveIn] [bit] NOT NULL,
	[UserNotifyFiveDays] [bit] NOT NULL,
	[UserNotifyTenDays] [bit] NOT NULL,
	[UserPassword] [varchar](256) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Events]    Script Date: 03/07/2014 12:59:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Events](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[EventTitle] [varchar](256) NOT NULL,
	[EventDate] [date] NOT NULL,
	[EventStart] [bigint] NOT NULL,
	[EventEnd] [bigint] NOT NULL,
	[EventStatus] [bit] NOT NULL,
	[EventManagerId] [int] NULL,
	[EventDescription] [varchar](max) NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_Events_Users]    Script Date: 03/07/2014 12:59:06 ******/
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Users] FOREIGN KEY([EventManagerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Users]
GO
/****** Object:  ForeignKey [FK_Users_Roles]    Script Date: 03/07/2014 12:59:06 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([UserRoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO

if not exists (select * from dbo.Roles where RoleName = 'Admin')
insert into dbo.Roles
        ( RoleName )
values  ( 'Admin'  -- RoleName - varchar(256)
          )

if not exists (select * from dbo.Roles where RoleName = 'Manager')
insert into dbo.Roles
        ( RoleName )
values  ( 'Manager'  -- RoleName - varchar(256)
          )


if not exists (SELECT * FROM dbo.Templates where TemplateName = 'Welcome Email')
insert INTO dbo.Templates
		(TemplateName, TemplateText, TemplateSubject)
values ('Welcome Email', 'Dear {name},

Thank you for signing up with Project C.U.R.E.  You will now be able to register to lead groups on the Project C.U.R.E. calendar. We appreciate your service.

Thanks,
The Project C.U.R.E. Team',
'Welcome to Project C.U.R.E')


if not exists (SELECT * from dbo.Templates where  TemplateName = 'Confirmation Email')
INSERT INTO dbo.Templates
		(TemplateName, TemplateText, TemplateSubject)
VALUES ('Confirmation Email', 'Dear {name},

Thank you for signing up to lead {title} on {date} from {start time} to {end time}.  We appreicate your service to our organzation. 

Thanks,
The Project C.U.R.E. Team',
'Project C.U.R.E - Confirmation')

if not exists (SELECT * from dbo.Templates where  TemplateName = 'Cancellation Email')
INSERT INTO dbo.Templates
		(TemplateName, TemplateText, TemplateSubject)
VALUES ('Cancellation Email', 'Dear {name},

You have successfully canceled your reservation to lead the event for {title} on {date} from {start time} to {end time}.  Please sign up again soon!  
Thanks,

The Project C.U.R.E. Team',
'Project C.U.R.E - Cancellation')

if not exists (SELECT * from dbo.Templates where  TemplateName = 'Unfilled Group Lead Email')
INSERT INTO dbo.Templates
		(TemplateName, TemplateText, TemplateSubject)
VALUES ('Unfilled Group Lead Email', 'Dear {name},

The groups in red are the current groups who are in need of a Sort Team Leader.  If you are able to lead a group, please click on the event and then click on the "I will lead" button.  We appreciate your service to our organization.

Thanks,
The Project C.U.R.E. Team',
'Project C.U.R.E - Unfilled Group Lead')

if not exists (SELECT * from dbo.Templates where  TemplateName = 'Reminder Email')
INSERT INTO dbo.Templates
		(TemplateName, TemplateText, TemplateSubject)
VALUES ('Reminder Email', 'Dear {name},

This is a reminder that you are scheduled to lead {title} from {start time} to {end time}.  Thank you for your service to our organization.

Thanks,
The Project C.U.R.E. Team',
'Project C.U.R.E - Reminder')
