html, body {
  height: 100%;
}

a, .pc-red, .delete { color:#d3113a; }
a:hover { color:#a40a2b; }
.btn-danger { background-color:#d3113a; text-decoration:none; }

.navbar-brand.logo {
  background:url('/Content/img/pc-logo.png') no-repeat 0 0;
  display:block;
  margin-top:9px;
  margin-right:20px;
  width:48px;
  height:35px;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .navbar-brand.logo {
    background:url('/Content/img/pc-logo@2x.png') no-repeat 0 0;
    background-size:48px 35px;
  }
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}
.container-body {
    margin-bottom: 20px;
    padding-top: 10px;
}
.container.footer {
  background:#000;
  color:#555;
  margin-right:0;
  margin-left:0;
  text-align:center;
  max-width:100%;
}

footer {
  background:url('/Content/img/pc-logo-footer.png') no-repeat center 50px;
  padding:200px 0 25px 0;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  footer {
    background:url('/Content/img/pc-logo-footer@2x.png') no-repeat center 50px;
    background-size:400px 106px;
  }
}

/* Classes for Event Types */
.fc-event{
  padding: 5px;
}
.fc-event.available{
  background-color: #ca0510;
  border: 1px solid #ca0510;
}
.fc-event.owner{
  background-color: #23ca3b;
  border: 1px solid #23ca3b;
}
.fc-event.assigned{
  background-color: #698080;
  border: 1px solid: $698080;
}
.btn-black {
  color:#fff;
  background-color:#555;
  border-color:#444;
}

.jumbotron.sign-in {
  background:url('/Content/img/wood-slates.jpg');
  color:#fff;
}

.jumbotron.sign-in h1 {
  font-family:Georgia;
  text-shadow:1px 1px 5px #231f20;
}

.about {
  font-size:18px;
  line-height:35px;
  padding:30px 20px 60px 20px;
  text-align:center;
}

.jumbotron.map {
  background:#ccc;
  font-size:18px;
  margin-bottom:0;
}

.jumbotron.map svg {
  margin:0 auto;
  width:300px;
}

.location-info {
  padding-left:60px;
}

@media screen and (min-width: 768px) {
  .jumbotron.map svg {
    width:504px;
    height:313px;
  }
}

.about a, .map a { text-decoration:underline; }
.map a.btn { text-decoration:none; }

.validation-summary-errors {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.field-validation-error{
    border: 1px solid #000;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #d9534f;
}

.input-validation-error {
    color: #b94a48;
    border-color: #b94a48;
}

.input-validation-error:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}
.validation-summary-valid {
    display: none;
}
.field-validation-valid {
    display: none;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
