 <div class="container footer">
  <footer>
    <address class="text-muted"><br/>
        International Headquarters
        10377 E. Geddes Avenue Centennial, CO 80112
        Phone: (303) 792-0729 | Fax: (303) 792-0744
        <a href="mailto:info@projectcure.org">info@projectcure.org</a>
    </address>
  </footer>
</div>
