@{
    ViewBag.Title = "Calendar";
}

<div id="calendar-container" class="container">
    <div class="row">
        <div class="col-md-12">
            <div id='calendar'></div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="evntModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

@section scripts{
    <script>
        var isAdmin = "@IsAdmin".toLowerCase() === "true";
    </script>    
    @Scripts.Render(ScriptBundles.Calendar)
}

