@{
    ViewBag.Title = "Calendar";
}


  <script type='text/javascript' src='~/Content/js/vendor/moment.js'></script>
<link rel="stylesheet" href="~/Content/css/main.css">


<div id="calendar-container" class="container">
		<div id='calendar'></div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	</div>

  <script>
      var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
      (function (d, t) {
          var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
          g.src = '//www.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g, s)
      }(document, 'script'));
  </script>

    <script>
        var isAdmin = "@IsAdmin".toLowerCase() === "true";
        
        $(document).ready(function () {
            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                height: $(window).height() - 120,
                events: '@Url.Content("~/events/")',
                eventRender: function(event, element) {
                    element.find('.fc-event-title').html(moment(event.start).format("h A") + ' ' + event.title);
                },
                eventClick: function(event) {
                    if (event.url) {
                        $("#myModal").modal({
                            remote: event.url
                        });
                    }
                    return false;
                },
                dayClick: function (date) {
                    if (!isAdmin) return;
                    $("#myModal").modal({
                        remote: "@Url.Content("~/events/create?date=")" + moment(date).format("YYYY-MM-DD")
                    });
                }
            });
		        
            $('body').on('hidden.bs.modal', '.modal', function () {
                $(this).removeData('bs.modal');
            });

            $(document).on("click", "#eventForm .claim", function () {
                var choice = confirm(this.getAttribute('data-confirm'), 'yes', 'no');
                if (choice) {
                    var url = $(this).parents("form").attr("action"); // the script where you handle the form input.

                    $.ajax({
                        type: "PUT",
                        url: url,
                        data: $(this).parents("form").serialize(), // serializes the form's elements.
                        success: function (data) {
                            $("#myModal").modal("hide");
                            window.location.reload();
                            // change color of event
                        },
                        error: function (data) {
                            alert("FAILED!");
                        }
                    });
                }
                event.preventDefault(); // avoid to execute the actual submit of the form.
            });

            $(document).on("click", "#eventForm .cancel", function () {
                var choice = confirm(this.getAttribute('data-confirm'), 'yes', 'no');
                if (choice) {
                    var url = $(this).parents("form").attr("action"); // the script where you handle the form input.

                    $.ajax({
                        type: "PUT",
                        url: url,
                        data: {Action: "Delete"}, // serializes the form's elements.
                        success: function (data) {
                            $("#myModal").modal("hide");
                            window.location.reload();
                            // change color of event
                        },
                        error: function (data) {
                            alert("FAILED!");
                        }
                    });
                }
                event.preventDefault(); // avoid to execute the actual submit of the form.
            });

            $(document).on("click", "#createEventForm .createBtn", function () {
//                var choice = confirm(this.getAttribute('data-confirm'), 'yes', 'no');
//                if (choice) {
                    var url = '@Url.Content("~/events/")'; // the script where you handle the form input.

                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $(this).parents("form").serialize(), // serializes the form's elements.
                        success: function (data) {
                            $("#myModal").modal("hide");
                            window.location.reload();
                        },
                        error: function (data) {
                            alert("FAILED!");
                        }
                    });
//                }
                event.preventDefault(); // avoid to execute the actual submit of the form.
            });
        });
    </script>
