@{
    ViewBag.Title = "Sign In";
}

<div class="jumbotron sign-in">
    <div class="container">
        <h1>Project C.U.R.E. Leadership Management</h1>
        <p>Sign in to manage your group commitments.</p>
    </div>
</div>