

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

footer {
  padding-top:20px;
}

.btn-black {
  color:#fff;
  background-color:#555;
  border-color:#444;
}


.jumbotron.sign-in {
  background:url('/images/wood-slates.jpg');
  color:#fff;
}
